<div id="news" class="carousel border-bottom border-primary slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for new in news|slice(0, 6) %}
            <li data-target="#news" data-slide-to="{{ loop.index0 }}" class="{{ loop.index0 == 0 ? 'active' }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner bg-dark" role="list">
        {% for new in news|slice(0, 6) %}
            {% include '@OwpNews/Item/item__carousel.html.twig' %}
        {% endfor %}
    </div>
    {% if news|length > 1 %}
        <a class="carousel-control-prev" href="#news" role="button" data-slide="prev" aria-label="Précédent">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#news" role="button" data-slide="next" aria-label="Suivant">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    {% endif %}
</div>
